@font-face {
	font-family: Arial;
	src: url("../fonts/Arial/ArialRegular/ArialRegular.ttf");
}
@font-face {
	font-family: ArialBold;
	src: url("../fonts/Arial/ArialBold/ArialBold.ttf");
}
@font-face {
	font-family: Tahoma;
	src: url("../fonts/TahomaRegular.ttf");
}
@font-face {
	font-family: "Trebuchet MS";
	src: url("../fonts/Trebuchet MS_regular.ttf");
}

html,
body {
	padding: 0;
	margin: 0 auto;
	width: 1280px;
	height: 100%;
}
img {
	border: none;

}
#wrapper {
  box-sizing: border-box;
  font-family: "Arial";
  font-weight: normal;
  font-size: 12px;
  position: relative;
  display: block;
  height: 100%;
  margin: 0 90px;
}
/*-------style header------------------*/
header {
	display: block;
	height: 100px;
	padding-top: 20px;
}
.header_logo {
	display: inline-block;
	float: left;
	margin-right: 45px;
	padding-top: 10px;
}
.header_logo a {
	display: block;
}
.band {
	float: left;
	width: 2px;
	height: 50px;
	background: #dddddd;
	margin: 5px 25px 0 0;
}
.logo_cap {
	display: block;
	float: left;
	margin: 0 90px 0 5px;
}
.logo_cap a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 14px 5px 14px 90px;
}
.logo_cap a:before {
	display: block;
	content: "";
	width: 50px;
	height: 40px;
	background: url("../img/graduation_cap.png") no-repeat;
	position: absolute;
	left: 315px;
	top: 35px;
}
.logo_cap h1 {
	margin-top: 5px;
	font-size: 18px;
    text-transform: uppercase;
}
.badge {
	float: left;
	margin: 0 28px 0 30px;
}
.badge a {
	display: block;
	padding: 0 10px 2px 10px;
	
}
.user_menu {
	width: 196px;
	display: block;
	float: left;
	border-radius: 4px;
	border: 1px solid #cccccc;
	background: #f0f0f0;
	margin-left: 10px;
}
.user_avatar {
	float: left;
	width: 55px;
	min-height: 70px;
	margin: 5px;
	background: url("../img/user_avatar.png") no-repeat -18px;
}
.user_name {
	font-size: 15px;
    margin: 10px 0 10px 75px;
	text-transform: capitalize;
}
.user_menu_icon a {
	color: #000;
	position: relative;
	text-decoration: none;
}
.user_menu_icon .i1 {
	margin-left: 30px;
}
.user_menu_icon .i2 {
	margin-left: 11px;
	padding-left: 20px;
}
.user_menu_icon .i3 {
	margin-left: 5px;
	padding-left: 20px;
}
.user_menu_icon .active {
	color: #ef7671;
}
.user_menu_icon .i1.active:before,
.user_menu_icon .i2:before,
.user_menu_icon .i3:before {
	display: block;
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
} 
.user_menu_icon .i1.active:before {
	background: url("../img/user3_icon_03.png") no-repeat;
	top: 0;
	right: 10px;
}
.user_menu_icon .i2:before {
	background: url("../img/shape9_copy2_03.png") no-repeat;
	top: 1px;
	right: 10px;
}
.user_menu_icon .i3:before {
	background: url("../img/kalendar_copy2_03.png") no-repeat;
	top: 1px;
	right: 10px;
}
/*-------style main, content-----------*/
#content_wrap {	
	display: block;
	position: relative;
	height: 910px;
  	padding-bottom: 90px;
}
#content {
	float: left;
	width: 865px;
	margin-right: 20px;
}
.slider {
	 width: 865px;
	 height: 230px;
	 overflow: hidden;
 	 margin: 0 0 22px;
	 position: relative;
 }
.slider ul, 
.slider li {
	list-style: none;
 	margin: 0;
 	padding: 0;
 }
.slider ul {
	 width: 9999px;
 }
.slider ul li {
	 float: left;
	 width: 865px;
	 height: 230px;
}
.slider .nav {
	 position: absolute;
	 left: 370px;
	 bottom: 10px; 
}
.slider .nav span {
	opacity: 0.9;
	background: #fff;
	margin: 0 8px 0 0;
	width: 12px;
	height: 12px;
	border-radius: 8px;
	cursor: pointer;
	overflow: hidden;
	display: block;
	float: left;
	box-shadow: 0 1px 2px #000;
}
.slider .nav span.on {
	background: #ec4f54;
}
.slider li .bid {
 	position: absolute;
 	top: 45px;
 	right: 25px;
 	width: 105px;
 	height: 70px;
 	border-radius: 5px;
 	background: #ee3124;
 	color: #ffffff; 
 	font-size: 12px;
}
.tabs {
	max-width: 865px;
}
.tabs_caption {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	list-style: none;
	position: relative;
	margin: -1px 0 0 -1px;
	padding-left: 0;
}
.tabs_caption li {
	font-family: "Tahoma";
	text-transform: uppercase;
	padding: 8px 10px;
	margin: 1px 8px 0 1px;
	background: #f4f4f4;
	color: #555555;
	position: relative;
	border: 1px solid #c8c8c8;
	border-right: none;
	border-radius: 4px 11px 0  0;
	text-align: center;
	float: left;
}
.tabs_caption li:before {
	display: block;
    content: '';
  	position: absolute;
  	transform: rotate(-11deg);
  	-ms-transform: rotate(-25deg);
  	top: 1px;
    height: 5px;
    border-top: 25px solid #fff;
    border-left: 10px solid #f4f4f4;
    border-right: 1px solid #c8c8c8;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.tabs_caption li:nth-child(1):before {
	left: 101px;
}
.tabs_caption li:nth-child(2):before {
	right: -2px;
}
.tabs_caption li:nth-child(3):before {
	left: 85px;
}
.tabs_caption li:nth-child(4):before {
	left: 147px;
}
.tabs_caption li:nth-child(5):before {
	left: 132px;
}
.tabs_caption li:nth-child(6):before {
	left: 26px;
}
.tabs_caption li:nth-child(7):before {
	left: 88px;
}
.tabs_caption:after {
	content: '';
	display: block;
	clear: both;
}
.tabs_caption li:not(.active) {
	cursor: pointer;
}
.tabs_caption li:not(.active):hover {
	background: #fff;
	border-color: 1px solid #c8c8c8;
	
}
.tabs_caption .active {
	background: url("../img/home_icon.png") no-repeat #fff;
	background-position: 3px 8px;
	color: #ee3124;
	border-color: #c8c8c8;
	border-right: none;
	padding-left: 20px;
	z-index: 10;
}
.tabs_caption .active:before {
  	border-right: 1px solid #c8c8c8;
    border-top: none;
    border-left: none;   
    height: 27px;
    content: '';
    position: absolute;
    top: 1px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.tabs_caption .active:nth-child(1):before {
	transform: rotate(162deg);
	left: 120px;
}
.tabs_caption .active:nth-child(2):before {
	transform: rotate(162deg);
	left: 90px;
}
.tabs_caption .active:nth-child(3):before {
	transform: rotate(159deg);
	left: 105px;
}
.tabs_caption .active:nth-child(4):before {
	transform: rotate(162deg);
	left: 166px;
}
.tabs_caption .active:nth-child(5):before {
	transform: rotate(162deg);
	left: 151px;
}
.tabs_caption .active:nth-child(6):before {
	transform: rotate(160deg);
	left: 47px;
}
.tabs_caption .active:nth-child(7):before {
	transform: rotate(157deg);
	left: 108px;
}
.tabs_caption .active:after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	width: 108%;
	height: 5px;
	background: #fff;
}

.tabs_content {
	display: none;
	padding: 7px 0 20px;
}
.tabs_content:before,
.block_news_bank:before {
	display: block;
	content: "";	
	height: 3px;
	position: absolute;
	top: 283px;
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 3%, rgba(219,219,219,1) 21%, rgba(254,254,254,1) 100%);
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 3%, rgba(219,219,219,1) 21%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 3%, rgba(219,219,219,1) 21%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 3%, rgba(219,219,219,1) 21%, rgba(254,254,254,1) 100%);
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 3%, rgba(219,219,219,1) 21%, rgba(254,254,254,1) 100%);
}
#content .tabs_content:before {
	width: 865px;
}
.tabs_content.active {
	display: block;
}
.table {
	position: relative;
	width: 758px;
	display: table;
	margin: 10px 0;
	padding: 0;
}
.table .table_row {	
	display: table-row;
	font-size: 14px;
}
.table .table_row a {
	text-decoration: none;
	color: #000;
}
.table .table_row a:hover {
	text-decoration: underline;
}
.table .cell {
	display: table-cell;
	padding: 9px 0;
}
.table_row .cell2 {
	width: 484px;
}
.table_row .cell3,
.table_row .cell4 {
	text-align: center;
	width: 90px;
}
.caption_table {	
	position: relative;
	font-family: "ArialBold";
	text-align: left;
	text-transform: capitalize;
	margin-bottom: 2px;
}
.caption_table .cell {
	float: left;
	margin: 20px 9px 20px; 
}
.caption_table .cell2 {
	margin-right: 444px;
}
.caption_table .cell3 {
	margin: 20px 25px;
}
.caption_table .cell4 {
	margin: 20px 20px 20px 15px;
}
.caption_table .cell5 {
	margin-left: 35px;
}
.caption_table:after {
	position: absolute;
	top: 20px;
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background: #cccccc;
	margin: 20px 0;
}
.button_table button,
.tabs_content span {
	font-size: 11px;
}
.button_table button {
	cursor: pointer;
	width: 75px;
	height: 24px;
	color: #fff;
	text-transform: capitalize;
	background: #6ac4eb;
	border-radius: 3px;
	border: none;
	background: rgba(118,203,240,1);
	background: -moz-linear-gradient(top, rgba(118,203,240,1) 0%, rgba(118,203,240,1) 44%, rgba(110,198,236,1) 52%, rgba(60,167,212,1) 100%);
	background: -webkit-linear-gradient(top, rgba(118,203,240,1) 0%, rgba(118,203,240,1) 44%, rgba(110,198,236,1) 52%, rgba(60,167,212,1) 100%);
	background: -o-linear-gradient(top, rgba(118,203,240,1) 0%, rgba(118,203,240,1) 44%, rgba(110,198,236,1) 52%, rgba(60,167,212,1) 100%);
	background: -ms-linear-gradient(top, rgba(118,203,240,1) 0%, rgba(118,203,240,1) 44%, rgba(110,198,236,1) 52%, rgba(60,167,212,1) 100%);
	background: linear-gradient(to bottom, rgba(118,203,240,1) 0%, rgba(118,203,240,1) 44%, rgba(110,198,236,1) 52%, rgba(60,167,212,1) 100%);
	position: absolute;
	right: -105px;
	top: 3px;
}
.button_table button:hover {
	background: rgba(59,166,211,1);
    background: -moz-linear-gradient(top, rgba(59,166,211,1) 0%, rgba(63,120,179,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(59,166,211,1)), color-stop(100%, rgba(63,120,179,1)));
    background: -webkit-linear-gradient(top, rgba(59,166,211,1) 0%, rgba(63,120,179,1) 100%);
    background: -o-linear-gradient(top, rgba(59,166,211,1) 0%, rgba(63,120,179,1) 100%);
    background: -ms-linear-gradient(top, rgba(59,166,211,1) 0%, rgba(63,120,179,1) 100%);
    background: linear-gradient(to bottom, rgba(59,166,211,1) 0%, rgba(63,120,179,1) 100%);
}
.button_table .button1{
	top: 3px;
}
.button_table .button2{
	top: 37px;
}
.button_table .button3 {
	top: 73px;
}
.button_table .button4 {
	top: 108px;
}
.button_table .button5 {
	top: 141px;
}
.button_table .button6 {
	top: 174px;
}
.button_table .button7 {
	top: 208px;
}
.table_row .cell1 {
	width: 70px;
}
.table_row .cell1 img {
	position: absolute;
	left: 20px;
}
.table_row1 .cell1 img {
	top: 7px;
}
.table_row2 .cell1 img {
	top: 42px;
}
.table_row3 .cell1 img {
	top: 76px;
}
.table_row4 .cell1 img {
	top: 110px;
}
.table_row5 .cell1 img {
	top: 145px;
}
.table_row6 .cell1 img {
	top: 178px;
}
.table_row7 .cell1 img {
	top: 211px;
}
.my_icon span {
	display: inline-block;
	position: relative;
	margin-top: 30px;
	margin-left: 45px;
	color: #717171
}
.my_icon:before {
	display: block;
	content: "";
	width: 865px;
	height: 1px;
	background: #cccccc;
	position: absolute;
	top: 605px;

}
.my_icon span:before {
	display: block;
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	left: -25px;
}
.my_courses:before {
	background: url("../img/user3_icon_03.png") no-repeat;

}
.my_tests:before {
	background: url("../img/shape9_copy3_03.png") no-repeat;

}
.my_events:before {
	background: url("../img/calendar_copy_03.png") no-repeat;

}
/*--------style banner -------------------*/
.banner_content {
	display: block;
	margin: 88px 0 60px;
	width: 865px;
	height: 155px;	
	position: absolute;
	top: 650px
}
.banner_content a {
	display: block;
	width: 261px;
	height: 155px;
}
.banner_content .banner_left,
.banner_content .banner_center,
.banner_content .banner_right {
	position: relative;
	float: left;
	background: rgba(118,202,241,1);
    background: -moz-linear-gradient(top, rgba(118,202,241,1) 0%, rgba(170,223,246,1) 100%);
    background: -webkit-linear-gradient(top, rgba(118,202,241,1) 0%, rgba(170,223,246,1) 100%);
    background: -o-linear-gradient(top, rgba(118,202,241,1) 0%, rgba(170,223,246,1) 100%);
    background: -ms-linear-gradient(top, rgba(118,202,241,1) 0%, rgba(170,223,246,1) 100%);
    background: linear-gradient(to bottom, rgba(118,202,241,1) 0%, rgba(170,223,246,1) 100%);
	width: 261px;
	height: 155px;
	vertical-align: top;
	margin-left: 40px;	
	border-radius: 3px;
}
.banner_content .banner_left {
	margin-left: 0;
}
.banner_content .banner_left img,
.banner_content .banner_center img,
.banner_content .banner_right img {
	position: absolute;
}
.banner_content .banner_left img {
	top: 26px;
	left: 107px;
}
.banner_content .banner_center img {
	top: 35px;
	left: 121px;
}
.banner_content .banner_right img {
	top: 30px;
	left: 120px;
}
.banner_content .banner_text {
	width: 123px;
	height: 122px;
	position: absolute;
	top: 18px;
	left: 15px;
	background: #ffffff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(59,178,234,0.5);
	-moz-box-shadow: 0px 0px 10px 1px rgba(59,178,234,0.5);
	box-shadow: 0px 0px 10px 1px rgba(59,178,234,0.5);
}
.banner_content h3 {
	margin: 10px 8px 20px;
	color: #4077b0;
}
.banner_content p {
	font-size: 11px;
	margin: 0 6px;
	color: #555555;
}
/*-------style sidebar-----------------*/
aside {
	width: 196px;
	float: right;
	margin: 0 auto;
	padding: 0;
}
.sidebar_right input {
	position: relative;
	width: 159px;
    border: 6px solid #3F77B2;
    border-right: 26px solid #3f77b2;
    border-radius: 4px;
    padding-left: 6px;
    margin-bottom: 10px;
}
.button_search {
	width: 9px;
	height: 7px;
	background: url("../img/search.png") no-repeat;
	position: absolute;
	top: 12px;
	right: 5px;
	border: none;
	cursor: pointer;
}
.block_news_bank {
	height: 380px;
}
.block_news_bank .tabs {
	margin-bottom: 10px;
}
.block_news_bank li {
	text-align: left;
	padding: 5px 17px;
	border-bottom: none;
}
.block_news_bank .active {
	background: none;
    padding: 5px 12px;
}
.block_news_bank:before {
	width: 194px;
	top: 79px;
	right: 1px;
}
.block_news_bank li:nth-child(1):before {
	-ms-transform: rotate(-18deg);
    left: 82px;
    height: 13px;
}
.block_news_bank li:nth-child(2):before {
	-ms-transform: rotate(-18deg);
	left: 81px;
	height: 13px;
}
.block_news_bank .active:nth-child(1):before {
	transform: rotate(169deg);
	-ms-transform: rotate(-18deg);
    left: 81px;
    height: 42px;
}
.block_news_bank .active:nth-child(2):before {
	transform: rotate(170deg);
	-ms-transform: rotate(-15deg);
    top: 2px;
    left: 81px;
    height: 40px;
}
.block_news_bank .news {
	padding: 7px 8px 10px;
	border: 1px solid #c9c9c9;
	border-top: none;
 	color: #e2001a;
	border-radius: 0 4px 4px 4px;
}
.block_news_bank .news .active {
	padding: 0;
}
.block_news_bank .news1 {
	margin-top: 6px;
}
.block_news_bank .news2,
.block_news_bank .news3,
.block_news_bank .news4 {
	margin-top: 17px;
}
.block_news_bank .news p {
	font-size: 12px;
	margin: 0;
	color: #464646;
}
.block_news_bank .arhiv_news {
	display: block;
	text-align: right;
	margin: 5px 0;
	color: #e2001a;
}
.button_leader_panel,
.button_help {
	width: 196px;
	height: 50px;
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 8px 20px 10px 55px;
	font-family: "Trebuchet MS";
	font-size: 14px;
	text-align: left;
}
.button_leader_panel {
	background: url("../img/user_icon_03.png") no-repeat #f16962;
	margin: 10px 0 10px;
	background-position: 16px 13px;
}
.button_help {
	background: url("../img/medical_case_copy.png") no-repeat #3f77b2;
	margin: 10px 0;
	background-position: 16px 10px;
}
/*---------style sidebar slider----------*/
.sidebar_slider {
	position: relative;	
	margin: 10px 0;
}
.sidebar_slider .overflow {
	width: 196px;
	height: 155px;
	overflow: hidden;
	position: relative;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
}
.sidebar_slider .mover {
	width: 10000%;
	overflow: hidden;
	position: relative;
}
.sidebar_slider .item {	
	display: block;
	float: left;
	width: 1%;
	padding-bottom: 20px;
}
.sidebar_slider .foto_sidebar_slider,
.video_slider .video_sidebar_slider  {
	display: block;
	position: relative;
	width: 196px;
	height: 155px;
	margin: 0 auto 13px;	
}
.sidebar_slider .foto_sidebar_slider {
	background: url("../img/shutterstock_47246542_03.png") no-repeat -32px 5px;
}
.video_slider .video_sidebar_slider {
	background: url("../img/shutterstock_22494250_03.png") no-repeat -2px -120px;
}
.sidebar_slider .photo_gallery,
.sidebar_slider .change {
	width: 186px;
    height: 25px;
    position: absolute;
    line-height: 25px;
    padding-left: 10px;
    top: 1px;
}
.sidebar_slider .photo_gallery {
	display: block;
	font-family: "Trebuchet MS";
	font-size: 16px;
	background: #f4f4f4;
    color: #484848;
    border-bottom: 1px solid #cccccc;
    border-radius: 3px 3px 0 0;
}
.sidebar_slider .change {
	background: #444447;
	color: #fff;
	opacity: .6;
	top: 130px;
	border-radius: 0 0 3px 3px;
	text-overflow: ellipsis;
	text-align: center;
}
.sidebar_slider .left, 
.sidebar_slider .right {
	width: 15px;
	height: 17px;
	position: absolute;
	top: 135px;
}
.sidebar_slider .left {
	left: 2px;
	background: url("../img/arrow_left.png") no-repeat 5px 1px;
}
.sidebar_slider .right {
	right: 2px;
	background: url("../img/arrow_right.png") no-repeat 4px 1px;
}
.sidebar_slider .left:hover,
.sidebar_slider .right:hover {
	background-position: 5px 1px;
	opacity: .6;
}

.sidebar_slider .left.disabled,
.sidebar-slider .right.disabled {
	background-position: 5px 1px;
	cursor: default;
}
.video_slider .photo_gallery {
	top: 0;

}
.play {
	width: 74px;
	height: 74px;
	position: absolute;
	top: 40px;
	left: 55px;
	background: url("../img/play.png") no-repeat 10px 10px;
	opacity: .6;

}

/*-------style footer------------------*/

.footer {
	display: block;
    width: 100%;
    height: 85px;
    position: relative;	
    color: #464646;	
}
.footer:before {
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background: #c0c0c0;
	position: absolute;
	top: 0px;
}
.footer a {
	color: #464646;	
	margin-right: 25px;
}
.logo_footer a {
	display: block;
	text-decoration: none;
	padding: 0 0 0 20px;
	margin: 0;
}
.logo_footer {
	font-family: "Trebuchet MS";
	font-size: 16px;
	float: left;
	line-height: 45px;
	background: url("../img/logo.png") no-repeat 1px 30px;
	background-size: 20px;
	margin-right: 85px;
}
.footer_center {
	float: left;
	margin-left: 80px;
	line-height: 85px;
}
.footer_right {
	float: right;
	margin: 14px 0;
}
